$primary-text-color: #757575;
$accent-color: #2196f3;
$logo-color: #000000;
$secondary-color: #212121;
$primary-white-color: #ffffff;
$contacts-color: rgba(255, 255, 255, 0.6);
$bgc-btn: #188ce8;
$color-bg-btn-section: #f5f4fa;
$color-bg: #2f303a;
$color-border-header: #ececec;
$portfolio-card-border: #eeeeee;
$gradient-hero: rgba(47, 48, 58, 0.4);
$bgc-hero: #c4c4c4;
$color-icons: #afb1b8;
$bgc-footer-icon: rgba(255, 255, 255, 0.1);
$works-list-overlay: rgba(47, 48, 58, 0.8);
$backdrop: rgba(0, 0, 0, 0.2);
$portfolio-overlay: rgba(33, 150, 243, 0.9);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$btn-border: rgba(0, 0, 0, 0.1);
$color-placeholder: rgba(117, 117, 117, 0.5);
$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
$box-shadow-menu: 0px 4px 8px rgba(0, 0, 0, 0.04),
0px 2px 4px rgba(0, 0, 0, 0.08),
0px 1px 3px rgba(0, 0, 0, 0.16);
$line-color: rgba(33, 33, 33, 0.2);
/* Шрифты макета */
$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;